<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/booking_tickets</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping resource="CityEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.CityEntity"/>
        <mapping resource="CommentEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.CommentEntity"/>
        <mapping resource="CountryEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.CountryEntity"/>
        <mapping resource="OrderEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.OrderEntity"/>
        <mapping resource="PointEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.PointEntity"/>
        <mapping resource="TransportEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.TransportEntity"/>
        <mapping resource="TripEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.TripEntity"/>
        <mapping resource="UserEntity.hbm.xml"/>
        <mapping class="com.gromov.models.entity.UserEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>